* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 15%;
  background-color: rgb(0, 0, 0);
}

body {
  background: #6d83e2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #32e7c6,
    #778be6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #32ebc9, #637be6);
}
.logo {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  padding: 25px;
  width: 15%;
  height: 6%;
}
.videos {
  width: 90vw;
  height: 200vh;
  display: grid;
  grid-template-columns: repeat(5, 260px);
  grid-auto-rows: 250px;
  grid-gap: 30px;
  justify-content: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.video-item {
  background-color: white;
  /* border: 1px solid rgb(83, 82, 82); */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.video-item:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.video-item h1 {
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
}

.video-item a {
  text-decoration: none;
  color: black;
  position: relative;
}

.video-item img {
  border-radius: 5px 5px 0px 0px;
  width: 260px;
  height: 140px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .videos {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
  }
  .video-item img {
    width: 50vw;
  }
  .video-item h1 {
    font-size: 17px;
  }
}
